main{
  margin-bottom: 50px;
}
p{
  margin-bottom: 0;
}
section.filter{
  margin-block: 30px;
  display: flex;
}
label[for=categories]{
  padding-right: 20px;
  color:#3f3dae;
}
mat-select{
  box-sizing: content-box;
  /* height: 30px; */
  width: 230px;
  border-radius: 4px;
  border: solid 1px #3f3dae;
  /* border-color: #3f3dae; */
  color: #3f3dae;
  padding: 3px 10px 4px 5px;
}

.products-list-container{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
