section.filter{
  margin-block: 30px;
  display: flex;
}
label[for=categories]{
  padding-right: 20px;
  color:#3f3dae;
}
select{
  height: 30px;
  width: 180px;
  border-radius: 4px;
  border-color: #3f3dae;
  color: #ffff;
  background-color: #3f3dae;
  vertical-align: text-top;
  padding-left: 10px;
}
select:hover{
  background-color: white;
  color: #3f3dae;
}
.products-list-container{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
section.product{
  perspective: 2px;
  perspective-origin: center;
}
.product-container{
  width: 300px;
  display: flex;
  justify-content: center;
  box-shadow: #3f3dae 0px 0px 1.5px;
  border-radius: 8px;
}
.product-container:hover{
  transform: translate3d(0, 0, 0.02px);
  box-shadow: #3f3dae 0px 0px 3px;
  transition: transform  0.3s;
}
.product-wrap{
  width: 280px;
  display: flex;
  flex-flow: column nowrap;
}
h4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  height: 110px;
  overflow: hidden;
}
hr{
  width:80%;
  margin: auto;
  margin-block: 10px;
  border-color: #3f3dae;
  /* border-top-width: 0px !important; */
}
img{
  align-self: center;
  margin-bottom: 10px;
}
p.product-category{
  padding-left:10px;
  margin-bottom: 10px;
}
p.product-description{
  margin-bottom: 20px;
  word-break: break-all;
  height: 100px;
  overflow-y: hidden;
}
.count-rate{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
p#rate{
  display: flex;
  justify-content: center;
}
h4,p span{
  color:#3f3dae;
}
section.loading-spinner.appear{
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 47.2%;
  & div.spinner {
    display: flex;
  }
  & div.spinner div.ball{
    border: 10px solid #3f3dae;
    border-radius: 20px;
    margin-left: 5px;
    box-shadow: #6e6e70 0px 0px 3px;
  }
  & div.spinner div[class='ball 1']{
    animation: loading1 ease 2s infinite;
  }
  & div.spinner div[class='ball 2']{
    animation: loading2 ease 2s infinite;
  }
  & div.spinner div[class='ball 3']{
    animation: loading3 ease 2s infinite;
  }
}
@keyframes loading1{
  0%{
    border-color: #3f3dae7d;
  }
  25%{
    border-color:#3f3dae;
  }
  75%{
    border-color: #3f3dae7d;
  }
  100%{
    border-color: #3f3dae7d
  }
}
@keyframes loading2{
  0%{
    border-color: #3f3dae7d;
  }
  25%{
    border-color: #3f3dae7d;
  }
  75%{
    border-color:#3f3dae;
  }
  100%{
    border-color: #3f3dae7d
  }
}
@keyframes loading3{
  0%{
    border-color: #3f3dae7d;
  }
  25%{
    border-color: #3f3dae7d;
  }
  75%{
    border-color: #3f3dae7d
  }
  100%{
    border-color:#3f3dae;
  }
}
