section.loading-spinner.appear{
  position: absolute;
  z-index: 10;
  top: 13%;
  left: 47.2%;
  & div.spinner {
    display: flex;
  }
  & div.spinner div.ball{
    border: 10px solid #3f3dae;
    border-radius: 20px;
    margin-left: 5px;
    box-shadow: #6e6e70 0px 0px 3px;
  }
  & div.spinner div[class='ball 1']{
    animation: loading1 ease 2s infinite;
  }
  & div.spinner div[class='ball 2']{
    animation: loading2 ease 2s infinite;
  }
  & div.spinner div[class='ball 3']{
    animation: loading3 ease 2s infinite;
  }
}
@keyframes loading1{
  0%{
    border-color: #3f3dae7d;
  }
  25%{
    border-color:#3f3dae;
  }
  75%{
    border-color: #3f3dae7d;
  }
  100%{
    border-color: #3f3dae7d
  }
}
@keyframes loading2{
  0%{
    border-color: #3f3dae7d;
  }
  25%{
    border-color: #3f3dae7d;
  }
  75%{
    border-color:#3f3dae;
  }
  100%{
    border-color: #3f3dae7d
  }
}
@keyframes loading3{
  0%{
    border-color: #3f3dae7d;
  }
  25%{
    border-color: #3f3dae7d;
  }
  75%{
    border-color: #3f3dae7d
  }
  100%{
    border-color:#3f3dae;
  }
}
