section{
  display: flex;
  margin-block: 50px;
}
.image-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  box-shadow: #5959d6 0px 0px 2px;
  border-radius: 8px;
}
.product-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-info h1 {
  color: #3f3dae;
  letter-spacing: 2px;
  font-weight: 300;
  border-bottom: 10 solid #3f3dae;
  box-shadow: #3f3dae 0px 1px 0.1px;
  margin-bottom: 50px;
}
th{
  width: 90px;
  background-color:#3f3dae;
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
}
td{
  padding-left: 20px;
  color: #3f3dae;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 2;
}
